html,
body {
  height: 100vh;
  overflow: hidden;
  scroll-padding-top: 140px;
}

.scroll-container {
  margin-top: 100px;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  height: 100vh;
  scroll-snap-align: start;
}

.section-title {
  margin-bottom: 20pt;
}

/* FORMATTING */

footer {
  text-align: center;
  font-size: 0.8em;
  color: gray;
}

p {
  text-align: justify;
}

.logo {
  height: 60px; /* Adjust height as needed */
}

.home-logo-container {
  text-align: center;
}

.home-logo {
  height: 150px; /* Adjust height as needed */
}

.group-logo {
  height: 40px; /* Adjust height as needed */
}

h1 {
  margin: 0; /* Remove default margin */
}

.navbar-nav {
  padding: 0; /* Remove default padding */
}

.nav-item {
  margin: 0 10px; /* Space between navbar items */
}

.nav-link {
  color: #007bff; /* Bootstrap's primary color */
  transition: color 0.3s; /* Smooth color transition */
}

.nav-link:hover {
  color: #0056b3; /* Darker shade on hover */
}

main {
  margin: 20px auto; /* Center the main content */
  padding: 20px; /* Add padding to the main content */
}

.align-center {
  text-align: center;
}

.opportunities-footnote {
  font-size: x-small;
  text-align: center;
  margin-top: 10pt;
}

/* PEOPLE */
.team-member .name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.team-member .position {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.team-member .email a {
  color: #007bff;
  transition: color 0.3s;
}

.team-member .email a:hover {
  color: #0056b3;
}

.team-member .institute {
  font-style: italic;
}
